  <div class="card-columns">
    <%@noticias.limit(10).each do |noticia|%>
      <div class="card" style="max-width: 25rem;">
        <div class="card-header">
          <h3><%=noticia.titulo%> (<%=noticia.comments.count%>)</h3>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= noticia.created_at%><hr><%=noticia.bajada%></h5>
          <p class="card-text"><%=shorten(noticia.cuerpo)%></p>
        </div>
        <div class="card-footer text-muted">
          <%=link_to "READ MORE..", noticium_path(noticia)%>
        </div>
      </div>
    <%end%>
  </div>
