<%@contador = 0%>
<%4.times do |fila|%>
  <div class="row">
    <%3.times do |col|%>
      <div class="col-sm-4">
        <div class="card text-white bg-info mb-3">
          <div class="header"><h3><%=@noticias[@contador].titulo%> (<%=@noticias[@contador].comments.count%>)</h3></div>
          <div class="card-body">
            <h5 class="card-title"><%=@noticias[@contador].created_at%><hr><%=@noticias[@contador].bajada%></h5>
            <p class="card-text"><%=shorten(@noticias[@contador].cuerpo)%></p>
            <div class="row">
              <div class = "col-sm-6">
                <%=link_to "READ MORE..", noticium_path(@noticias[@contador])%>
              </div>

            </div>

          </div>
        </div>
      </div>
      <%@contador = @contador +1%>
      <%if @contador > 9 %>
        <%break%>
      <%end%>
    <%end%>
  </div>
<%end%>
