<p id="notice"><%= notice %></p>

<h1>Noticias</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Fecha Publicacion</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @noticia.each do |noticium| %>
      <tr>
        <td><%= noticium.titulo %></td>
        <td><%= noticium.bajada %></td>
        <td><%= link_to 'Show', noticium %></td>
        <td><%= link_to 'Edit', edit_noticium_path(noticium) %></td>
        <td><%= link_to 'Destroy', noticium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Noticium', new_noticium_path , class:"btn btn-success"%>
