<p id="notice"><%= notice %></p>

<h1>Noticias</h1>
<%= link_to 'New Noticium', new_noticium_path , class:"btn btn-success"%>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Fecha Publicacion</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @noticia.each do |noticium| %>
      <tr>
        <td><%= noticium.titulo %></td>
        <td><%= noticium.created_at %></td>
        <td><%= link_to 'Show', noticium %></td>
        <td><%= link_to 'Edit', edit_noticium_path(noticium), class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', noticium, method: :delete, class:"btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
