
<p id="notice"><%= notice %></p>

<p>

  <h1><%= @noticium.titulo %></h1>
</p>

<p>

  <h4><%= @noticium.bajada %></h4>
</p>

<p>
  <h6><%= @noticium.cuerpo %></h6>
</p>

<br>
<h2><%=@noticium.comments.count%> Comments</h2>

<%=render 'comments/form'%>

<br>
<%if @noticium.comments.any?%>
  <%=render @noticium.comments%>
<%end%>
